.container{
  background-image: url(women.jpg);
}
.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-image: url(priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn {
  background-color: #bd081c;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9e071f;
}

.signin-link {
  text-align: center;
  margin-top: 10px;
}

.signin-link a {
  color: #bd081c;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-image: url(priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn {
  background-color: #bd081c;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9e071f;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link a {
  color: #bd081c;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
